extends layout

block content
  .container
    .row
      .col-sm-10
        h1 Admin Interface
        ul
        - for thread in threads
          li
            a(href="/admin/threads/" + thread.id)= thread.name
        form(action="/admin/threads", method="POST")
          .form-group
            label.control-label(for="threadName") Thread Name
            input.form-control#threadName(name="threadName")
            label.control-label(for="description") Description
            input.form-control#description(name="description")
          button.btn.btn-default(type="submit") Submit

