extends layout

block content
  .container
    .row
      .col-sm-12
        h1= title
        ul.threads
          - for thread in threads
            li
              a(href="/threads/" + thread.id)= thread.name
