extends ../layout

block content
  .container
    .row
      .col-sm-10
        h1= thread.name
        #feed(data-posts=JSON.stringify(posts))
  script(src='/react/react.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/index.js')
  script(src='/javascripts/feed.js')
